.gitignore

# Gradle
.gradle/
build/
/*/build/

# IDE - Android Studio / IntelliJ
.idea/
*.iml
*.iws
*.ipr

# Local configuration
local.properties

# Log & Temporary
captures/
.externalNativeBuild/
.cxx/
*.hprof
.DS_Store

# Firebase
google-services.json
app/google-services.json
